<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteRule ^/controllers/?(.*)$ - [F,L]
    RewriteRule ^/core/?(.*)$ - [F,L]
    RewriteRule ^/includes/?(.*)$ - [F,L]
    RewriteRule ^/logs/?(.*)$ - [F,L]
    RewriteRule ^/model/?(.*)$ - [F,L]
    RewriteRule ^/repository/?(.*)$ - [F,L]
    RewriteRule ^/sql/?(.*)$ - [F,L]
    RewriteRule ^/util/?(.*)$ - [F,L]
    RewriteRule ^/view/?(.*)$ - [F,L]

</IfModule>
